.expander {
	border: 1px solid #00D0BC;
	width: 250px;
}

.expander>.title {
	background-color: #00D0BC;
	color: white;
	padding: .1em .3em;
	cursor: pointer;
}

.expander>.body {
	padding: .1em .3em;
}